.content p {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text-accent);
  width: 100%;
}

@media (min-width: 768px) {
  .content p {
    font-size: 22px;
    width: 95%;
  }
}

@media (min-width: 1024px) {
  .content p {
    font-size: 28px;
    width: 90%;
  }
}
