.mietShop {
  display: flex;
  flex-direction: row;
}

.mietShop input {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: normal;
}

.mietShop__AddForm {
  margin-right: 12px;
}

.mietShop button {
  all: unset;
  border: 1px solid var(--color-green);
  padding: 4px;
  cursor: pointer;
  user-select: none;
  margin-top: 8px;
}

.mietShop__products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
