.content {
  color: var(--color-text);
}

.content p {
  color: var(--color-text-accent);
  display: inline;
}

.content a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-green);
}
