.button {
  display: flex;
  flex: 1 1 0;
  min-width: 0;
  align-items: stretch;
  color: var(--color-text);
  background: var(--color-grey);
  border: 1px solid var(--color-black);
  cursor: pointer;
  user-select: none;
  font-size: 9px;
  transition: box-shadow 0.3s ease-in-out;
}

.button__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--color-light-grey);
}

.button p {
  margin: 0;
  padding: 8px 2px;
  white-space: nowrap;
  text-align: center;
  line-height: 1.2;
}

.button:hover {
  border: 1px solid var(--color-black);
  box-shadow: 0 5px 10px -2px var(--color-black);
}

.button_selected {
  border: 1px solid var(--color-green);
}

.button_selected:hover {
  box-shadow: 0 5px 10px -2px var(--color-green);
  border: 1px solid var(--color-green);
}

@media (min-width: 768px) {
  .button {
    font-size: 12px;
  }

  .button p {
    padding: 10px 6px;
  }
}

@media (min-width: 1024px) {
  .button {
    font-size: 14px;
    flex: 1 1 0;
  }

  .button p {
    padding: 12px 10px;
  }
}

@media (min-width: 1280px) {
  .button {
    font-size: 16px;
  }

  .button p {
    padding: 12px 16px;
  }
}
