.box {
  border: 1px solid var(--color-black);
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.box__header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--color-light-black);
  font-weight: 700;
  font-size: 22px;
  word-break: break-word;
  flex-shrink: 0;
}

.box__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 16px;
  flex: 1;
  min-height: 0;
}

.box__inner {
  width: 100%;
  border: 1px solid var(--color-light-grey);
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

@media (min-width: 768px) {
  .box__header {
    padding: 16px 20px;
    font-size: 36px;
  }

  .box__content {
    padding: 16px 20px;
  }
}

@media (min-width: 1024px) {
  .box__header {
    padding: 20px;
    font-size: 50px;
  }

  .box__content {
    padding: 20px;
  }
}
