.mietShop {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mietShop input {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: normal;
  max-width: 100%;
}

.mietShop__AddForm {
  margin-right: 0;
}

.mietShop button {
  all: unset;
  border: 1px solid var(--color-green);
  padding: 4px;
  cursor: pointer;
  user-select: none;
  margin-top: 8px;
}

.mietShop__products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

@media (min-width: 768px) {
  .mietShop {
    flex-direction: row;
  }

  .mietShop__AddForm {
    margin-right: 12px;
  }

  .mietShop__products {
    justify-content: space-between;
    gap: 0;
  }
}
